.head-wrap{
    width:100%;
    height:10%;
    background-color: #fff;
    border-bottom: 2px #c3c3c3 solid;
}

.logo{
    width:80%;
    float:left;
}

.logo img{
    width:20%;
    height:20%;
}

table {
    width:100%;
    margin: auto;
    font-family: "Lucida Sans Unicode", "Lucida Grande", "Segoe Ui";
    font-size: 12px;
}

h1 {
    margin: 25px auto 0;
    text-align: center;
    font-size: 17px;
}

table td {
    transition: all .5s;
}

/* Table */
.data-table {
    font-size: 14px;
    min-width: 537px;
}

.data-table th,
.data-table td {
    padding: 7px 17px;
}
.data-table caption {
    margin: 7px;
}

/* Table Header */
.data-table thead th {
    background-color: #fff;
    color: #000;
}

/* Table Body */
.data-table tbody td {
    color: #353535;
}
.data-table tbody td:first-child,
.data-table tbody td:nth-child(4),
.data-table tbody td:last-child {
    text-align: left;
}

.data-table tbody tr:nth-child(odd) td {
    background-color: #efefef;
}
.data-table tbody tr:hover td {
    background-color: #FFD906;
}

/* Table Footer */
.data-table tfoot th {
    background-color: #e5f5ff;
    text-align: right;
}
.data-table tfoot th:first-child {
    text-align: left;
}
.data-table tbody td:empty
{

}

.button {
    background-color: #4CAF50;
    border-radius: 12px;
    border: none;
    color: white;
    padding: 3px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button.red{
    background-color: #f44336;
}

.button.yellow{
    background-color: #FFD906;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    float: left;
    position: absolute;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loader_container {
    /*border: 1px solid #DDDDDD;*/
    position:absolute;
    display: none;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}