<head>
    <title>CollectIV</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!--script src=""></script-->

    <script type="text/javascript">
        $(document).ready(function(){

            $("#race_loading").on("click", function(e) {
                showLoader();
                $.ajax({
                    type: 'POST',
                    url: 'racer_ajax.php',
                    dataType: 'json',
                    data: {
                        'function': 'race',
                    },
                    cache: false,
                    success: function(data) {
                        hideLoader();
                        console.log(data);
                        reloadTableData(data);
                    },
                    error: function(data) {
                        console.error('Failed to process ajax !');
                    }
                });
            });

            function reloadTableData(data){
                var html;
                $(".raceData").empty();
                console.log(data);
                for (var i = 0, l = data.length; i < l; i++) {
                    $place = i+1;
                html += '<tr><td>'+data[i]["name"]+'</td><td>'+data[i]["acceleration"]+'</td><td>'+data[i]["topSpeed"]+'</td><td>'+data[i]["cornering"]+'</td><td>'+data[i]["trackTotal"]+'</td><td>'+$place+'</td></tr>';
                }
                $(".raceData").append(html);
            }
            
            function showLoader(){
                $("#loader_modal").modal({
                    backdrop: "static", //remove ability to close modal with click
                    keyboard: false, //remove option to close with keyboard
                    show: true //Display loader!
                });
            }

            function hideLoader(){
                $("#loader_modal").modal("hide");
            }

        });
    </script>
    <div class="head-wrap">
        <!--<div class="logo"><img src="images/logo.svg"></div>-->

        <p>PHP Test - Racer</p>
    </div>
</head>