<head>
    <title>CollectIV</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!--script src=""></script-->

    <script type="text/javascript">
        $(document).ready(function(){

            function clearAddModel(){
                $('#add_first_name').val('');
                $('#add_surname').val('');
                $('#add_email').val('');
                $('#add_username').val('');
                $('#add_password').val('');
            }

            function editModal(data){
                $('#edit_id').val(data[0]['id']);
                $('#edit_first_name').val(data[0]['first_name']);
                $('#edit_surname').val(data[0]['surname']);
                $('#edit_email').val(data[0]['email']);
                $('#edit_username').val(data[0]['username']);
                $('#edit_password').val(data[0]['password']);
            }

            function reloadUsersTable(){
                $(".data-table tr").remove();
            }

            $('.user_add_class').click(function(){
                clearAddModel();
                $("#add_modal").modal('show');
            });

            $('#user_add_save').click(function(){
                $(".loader_container").show();
                $.ajax({
                    type: 'POST',
                    url: '/dotsure_test/ajax.php',
                    dataType: 'json',
                    data: {
                        'function': 'add',
                        'first_name': $('#add_first_name').val(),
                        'surname': $('#add_surname').val(),
                        'email': $('#add_email').val(),
                        'username': $('#add_username').val(),
                        'password': $('#add_password').val(),
                    },
                    cache: false,
                    success: function(data) {
                        $(".loader_container").hide();
                        $("#add_modal").modal('hide');
                        if(data == true){
                            alert("User added successfully!");
                        } else {
                            alert("User not added successfully!");
                        }
                    },
                    error: function(data) {
                        $(".loader_container").hide();
                        console.error('Failed to process ajax !');
                    }
                });
            });

            $('.user_edit_class').click(function(){
                var id = $(this).attr("data-userid");
                $.ajax({
                    type: 'POST',
                    url: '/dotsure_test/ajax.php',
                    dataType: 'json',
                    data: {
                        'function': 'getUser',
                        'id': id,
                    },
                    cache: false,
                    success: function(data) {
                        $("#edit_modal").modal('show');
                        editModal(data);
                    },
                    error: function(data) {
                        console.error('Failed to process ajax !');
                    }
                });
            });

            $('#user_edit_save').click(function(){
                $(".loader_container").show();
                $.ajax({
                    type: 'POST',
                    url: '/dotsure_test/ajax.php',
                    dataType: 'json',
                    data: {
                        'function': 'edit',
                        'id': $('#edit_id').val(),
                        'first_name': $('#edit_first_name').val(),
                        'surname': $('#edit_surname').val(),
                        'email': $('#edit_email').val(),
                        'username': $('#edit_username').val(),
                        'password': $('#edit_password').val(),
                    },
                    cache: false,
                    success: function(data) {
                        $(".loader_container").hide();
                        $("#edit_modal").modal('hide');
                        if(data == true){
                            alert("User updated successfully!");
                        } else {
                            alert("User not updated successfully!");
                        }
                    },
                    error: function(data) {
                        $(".loader_container").hide();
                        console.error('Failed to process ajax !');
                    }
                });
            });

            $('.user_delete_class').click(function() {
                var id = $(this).attr("data-userid");
                var result = confirm("Want to delete?");
                if (result) {
                    $(".loader_container").show();
                    $.ajax({
                        type: 'POST',
                        url: '/dotsure_test/ajax.php',
                        dataType: 'json',
                        data: {
                            'function': 'delete',
                            'id': id,
                        },
                        cache: false,
                        success: function(data) {
                            $(".loader_container").hide();
                            $("#edit_modal").modal('hide');
                            if(data == true){
                                alert("User deleted successfully!");
                            } else {
                                alert("User not deleted successfully!");
                            }

                        },
                        error: function(data) {
                            $(".loader_container").hide();
                            console.error('Failed to process ajax !');
                        }
                    });
                }
            });

        });
    </script>
    <div class="head-wrap">
        <div class="logo"><img src="images/logo.svg"></div>
        <p>PHP Test</p>
    </div>
</head>